{% extends "index/base.html" %}
{% block content %}
<div class="grp-wrapper">
    <div class="main-table data-table">
        <div class="table-string header-row">
            <div class="title-table table-item header-item">{{ index.title|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="add_date table-item data-item">{{ index.date_created|date:'Y-m-d H:i' }}</div>
        </div>
        <div class="table-string data-row">
            <div class="content-table table-item data-item">{{ index.content|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}