{% extends "index/base.html" %}
{% block content %}
<div class="container mt-4">
    <ul class="nav nav-tabs" id="materialTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="materials-tab" data-bs-toggle="tab" data-bs-target="#materials" type="button" role="tab" aria-controls="materials" aria-selected="true">Материалы</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="fttx-tab" data-bs-toggle="tab" data-bs-target="#fttx" type="button" role="tab" aria-controls="fttx" aria-selected="false">Расширение FTTX</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="wttx-tab" data-bs-toggle="tab" data-bs-target="#wttx" type="button" role="tab" aria-controls="wttx" aria-selected="false">Монтаж WTTX</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="equipment-tab" data-bs-toggle="tab" data-bs-target="#equipment" type="button" role="tab" aria-controls="equipment" aria-selected="false">Замена оборудования</button>
        </li>
    </ul>

    <div class="tab-content" id="materialTabContent">
        <div class="tab-pane fade show active" id="materials" role="tabpanel" aria-labelledby="materials-tab">
            <div class="grp-wrapper">
                <div class="main-table data-table">
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item" style="grid-column: span 14;">Материалы (остаток на начало года\приход по месяцам), замена оборудования</div>
                    </div>
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item">ID</div>
                        <div class="title-table table-item header-item" style="min-width: 100px;">Дата</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Кабель UTP</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Коннектор</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Кроссбокс</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Плинт</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">ВОЛС</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Медиаконвертер</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">SFP</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Организация</div>
                    </div>
                    {% for mat in material %}
                    <div class="table-string data-row">
                        <div class="content-table table-item data-item">{{ mat.id|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.date|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.cable|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.connector|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.crossbox|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.plint|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.vols|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.mediaconverter|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.sfp|safe }}</div>
                        <div class="content-table table-item data-item">{{ mat.organization.name|safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="fttx" role="tabpanel" aria-labelledby="fttx-tab">
            <div class="grp-wrapper">
                <div class="main-table data-table">
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item" style="grid-column: span 14;">Расширение FTTX</div>
                    </div>
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item">ID</div>
                        <div class="title-table table-item header-item" style="min-width: 100px;">Дата</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Город</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Улица</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Дом</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Подъезд</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Этаж</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Тип оборуования</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Количество установленных свитчей</div>
                        <div class="content-table table-item data-item">Название организации</div>
                    </div>
                    {% for fttx in expansionfttx %}
                    <div class="table-string data-row">
                        <div class="content-table table-item data-item">{{ fttx.id|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.date|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.city|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.street|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.home|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.entrance|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.floor|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.type_of_switch|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.quantity_of_switch|safe }}</div>
                        <div class="content-table table-item data-item">{{ fttx.organization.name|safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="wttx" role="tabpanel" aria-labelledby="wttx-tab">
            <div class="grp-wrapper">
                <div class="main-table data-table">
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item" style="grid-column: span 11;">Монтаж WTTX</div>
                    </div>
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item">ID</div>
                        <div class="title-table table-item header-item" style="min-width: 100px;">Дата</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Город</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Адрес</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Кабель</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Коннектор</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Тип свитча</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Количество свитчей</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Тип точки доступа</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Количество точек</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Организация</div>
                    </div>
                    {% for wttx in expansionwttx %}
                    <div class="table-string data-row">
                        <div class="content-table table-item data-item">{{ wttx.id|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.date|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.city|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.address|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.cable|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.connector|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.type_of_switch|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.quantity_of_switch|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.type_of_wifi|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.quantity_of_wifi|safe }}</div>
                        <div class="content-table table-item data-item">{{ wttx.organization.name|safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
            <div class="grp-wrapper">
                <div class="main-table data-table">
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item" style="grid-column: span 8;">Замена оборудования</div>
                    </div>
                    <div class="table-string header-row">
                        <div class="title-table table-item header-item">ID</div>
                        <div class="title-table table-item header-item" style="min-width: 100px;">Дата</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Город</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Улица</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Дом</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Подъезд</div>
                        <div class="title-table table-item header-item" style="min-width: 200px;">Тип оборудования</div>
                        <div class="title-table table-item header-item" style="min-width: 50px;">Организация</div>
                    </div>
                    {% for row in equipment %}
                    <div class="table-string data-row">
                        <div class="content-table table-item data-item">
                            <a class="nav-link" href="{% url 'change-detail' row.id %}">&#187; {{ row.id|safe }}</a>
                        </div>
                        <div class="content-table table-item data-item">{{ row.date|safe }}</div>
                        <div class="content-table table-item data-item">{{ row.city|safe }}</div>
                        <div class="content-table table-item data-item">{{ row.street|safe }}</div>
                        <div class="content-table table-item data-item">{{ row.home|safe }}</div>
                        <div class="content-table table-item data-item">{{ row.entrance|safe }}</div>
                        <div class="content-table table-item data-item">{{ row.type_of_equipment|safe }}</div>
                        <div class="content-table table-item data-item">{{ row.organization.name|safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}