{% extends "index/base.html" %}
{% block content %}
<div class="grp-wrapper">
    <div class="main-table detail-table">
        <div class="table-string header-row">
            <div class="title-base table-item header-item" style="grid-column: span 2;">
                <strong>Детальная информация по заявке {{ accident.number|safe }}</strong>
            </div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">ID инцидента</div>
            <div class="content-table table-item data-item">{{ accident.id|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Организация</div>
            <div class="content-table table-item data-item">{{ accident.organization|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Номер инцидента</div>
            <div class="content-table table-item data-item">{{ accident.number|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Категория инцидента</div>
            <div class="content-table table-item data-item">{{ accident.category|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">СЛА</div>
            <div class="content-table table-item data-item">{{ accident.sla|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Дата открытия заявки</div>
            <div class="content-table table-item data-item add_date">{{ accident.datetime_open|date:'Y-m-d H:i' }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Дата закрытия заявки</div>
            <div class="content-table table-item data-item add_date">{{ accident.datetime_close|date:'Y-m-d H:i' }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Описание проблемы</div>
            <div class="content-table table-item data-item">{{ accident.problem|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Город</div>
            <div class="content-table table-item data-item">{{ accident.city|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Детальный адрес</div>
            <div class="content-table table-item data-item">{{ accident.address|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">ФИО абонента</div>
            <div class="content-table table-item data-item">{{ accident.name|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Контактный номер абонента</div>
            <div class="content-table table-item data-item">{{ accident.phone|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Пользовательский номер абонента</div>
            <div class="content-table table-item data-item">{{ accident.subscriber|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Комментарий</div>
            <div class="content-table table-item data-item">{{ accident.comment|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Решение проблемы</div>
            <div class="content-table table-item data-item">{{ accident.decide|safe }}</div>
        </div>
        <div class="table-string data-row">
            <div class="title-table table-item header-item">Статус заявки</div>
            <div class="content-table table-item data-item">
                {% if accident.status == "open" %}
                <p class="open">{{ accident.status|safe }}</p>
                {% elif accident.status == "check" %}
                <p class="check">{{ accident.status|safe }}</p>
                {% else %}
                <p>{{ accident.status|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}