{% extends "index/base.html" %}
{% block content %}
<div class="grp-wrapper">
    <div class="main-table data-table">
        <div class="table-string header-row">
            <div class="title-table table-item header-item">ID</div>
            <div class="title-table table-item header-item">IP</div>
            <div class="title-table table-item header-item">Номер АЗС</div>
            <div class="title-table table-item header-item">Тип оборудования</div>
            <div class="title-table table-item header-item">Регион</div>
            <div class="title-table table-item header-item">Комментарий</div>
            <div class="title-table table-item header-item">Геопозиция</div>
        </div>
        {% for azs in gazprom_list %}
        <div class="table-string data-row">
            <div class="content-table table-item data-item">{{ azs.id|safe }}</div>
            <div class="content-table table-item data-item">{{ azs.ip|safe }}</div>
            <div class="content-table table-item data-item">{{ azs.number|safe }}</div>
            <div class="content-table table-item data-item">{{ azs.type|safe }}</div>
            <div class="content-table table-item data-item">{{ azs.region|safe }}</div>
            <div class="content-table table-item data-item">{{ azs.comment|safe }}</div>
            <div class="content-table table-item data-item">
                <a href="https://yandex.by/maps/?ll={{ azs.geo }}">{{ azs.geo|safe }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <div class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; В начало</a> |
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
            {% endif %}
            <span class="current">
                страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая страница</a> |
                <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}