{% extends "index/base.html" %}

{% block content %}
    <table>
        <tr class="table-string">
            <th class="title-table table-item th-item" width="300" valign="top">
               {% include 'filewiever/menu.html' %}
            </th>
            <th class="title-table table-item th-item" valign="top">
                <ul class="nav nav-tabs" id="equipmentTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="dlink-tab" data-bs-toggle="tab" data-bs-target="#dlink" type="button" role="tab" aria-controls="dlink" aria-selected="true">D-link</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ubiquity-tab" data-bs-toggle="tab" data-bs-target="#ubiquity" type="button" role="tab" aria-controls="ubiquity" aria-selected="false">Ubiquity</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="false">Client</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="railway-tab" data-bs-toggle="tab" data-bs-target="#railway" type="button" role="tab" aria-controls="railway" aria-selected="false">Railway</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="instruction-tab" data-bs-toggle="tab" data-bs-target="#instruction" type="button" role="tab" aria-controls="instruction" aria-selected="false">Instruction</button>
                    </li>
                </ul>

                <div class="tab-content" id="equipmentTabContent">
                    <div class="tab-pane fade show active" id="dlink" role="tabpanel" aria-labelledby="dlink-tab">
                        <table class="main-table table-item" width="100%">
                           <tr class="table-string">
                                <th class="title-table table-item th-item">
                                    <br>
                                    {% for row in context_dlink.0 %}
                                        <br>
                                        <a href="{% url 'file_download_dlink' file=row %}">{{ row }}</a>
                                    {% endfor %}
                                </th>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="ubiquity" role="tabpanel" aria-labelledby="ubiquity-tab">
                        <table class="main-table table-item" width="100%">
                            <tr class="table-string">
                                <th class="title-table table-item th-item">
                                    <br>
                                    {% for row in context_ubiquity.0 %}
                                        <br>
                                        <a href="{% url 'file_download_ubiquity' file=row %}">{{ row }}</a>
                                    {% endfor %}
                                </th>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">
                        <table class="main-table table-item" width="100%">
                            <tr class="table-string">
                                <th class="title-table table-item th-item">
                                    <br>
                                    {% for file in context_client.0 %}
                                        <br>
                                        <a href="{% url 'file_download_client' file=file %}">{{ file }}</a>
                                    {% endfor %}
                                </th>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="railway" role="tabpanel" aria-labelledby="railway-tab">
                        <table class="main-table table-item" width="100%">
                            <tr class="table-string">
                                <th class="title-table table-item th-item">
                                    <br>
                                     {% for file in context_railway.0 %}
                                        <br>
                                        <a href="{% url 'file_download_railway' file=file %}">{{ file }}</a>
                                    {% endfor %}
                                </th>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="instruction" role="tabpanel" aria-labelledby="instruction-tab">
                        <table class="main-table table-item" width="100%">
                            <tr class="table-string">
                                <th class="title-table table-item th-item">
                                    <br>
                                    {% for file in context_instruction.0 %}
                                        <br>
                                        <a href="{% url 'file_download_instruction' file=file %}">{{ file }}</a>
                                    {% endfor %}
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </th>
        </tr>
    </table>
{% endblock %}