{% extends "index/base.html" %}
{% block content %}
<div class="grp-wrapper">
    <div class="main-table">
        <div class="table-string" style="display: grid; grid-template-columns: 300px 1fr; align-items: start;">
            <div class="title-table table-item nav-section">
                {% include 'filewiever/menu.html' %}
            </div>
            <div class="title-table table-item">
                <ul class="nav nav-tabs" id="equipmentTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ubiquity-tab" data-bs-toggle="tab" data-bs-target="#ubiquity" type="button" role="tab" aria-controls="ubiquity" aria-selected="false">Ubiquity</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="false">Client</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="railway-tab" data-bs-toggle="tab" data-bs-target="#railway" type="button" role="tab" aria-controls="railway" aria-selected="false">Railway</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="instruction-tab" data-bs-toggle="tab" data-bs-target="#instruction" type="button" role="tab" aria-controls="instruction" aria-selected="false">Instruction</button>
                    </li>
                </ul>
                <div class="tab-content" id="equipmentTabContent">
                    <div class="tab-pane fade" id="ubiquity" role="tabpanel" aria-labelledby="ubiquity-tab">
                        <div class="main-table file-list">
                            <div class="table-string">
                                <div class="title-table table-item file-item">
                                    {% for row in context_ubiquity.0 %}
                                        <div class="file-link"><a href="{% url 'file_download_ubiquity' file=row %}">{{ row }}</a></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">
                        <div class="main-table file-list">
                            <div class="table-string">
                                <div class="title-table table-item file-item">
                                    {% for file in context_client.0 %}
                                        <div class="file-link"><a href="{% url 'file_download_client' file=file %}">{{ file }}</a></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="railway" role="tabpanel" aria-labelledby="railway-tab">
                        <div class="main-table file-list">
                            <div class="table-string">
                                <div class="title-table table-item file-item">
                                    {% for file in context_railway.0 %}
                                        <div class="file-link"><a href="{% url 'file_download_railway' file=file %}">{{ file }}</a></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="instruction" role="tabpanel" aria-labelledby="instruction-tab">
                        <div class="main-table file-list">
                            <div class="table-string">
                                <div class="title-table table-item file-item">
                                    {% for file in context_instruction.0 %}
                                        <div class="file-link"><a href="{% url 'file_download_instruction' file=file %}">{{ file }}</a></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}