{% extends "index/base.html" %}
{% block content %}
<div class="grp-wrapper">
    <div class="main-table data-table">
        <div class="table-string header-row">
            <div class="title-table table-item" style="min-width: 50px;">ID</div>
            <div class="title-table table-item" style="min-width: 150px;">Город</div>
            <div class="title-table table-item header-item" style="min-width: 150px;">Улица</div>
            <div class="title-table table-item header-item" style="min-width: 100px;">Дом</div>
            <div class="title-table table-item header-item">Количество подъездов</div>
            <div class="title-table table-item header-item">Ключ индивидуальный</div>
            <div class="title-table table-item header-item">Ключ стандартный</div>
        </div>
        {% for key in key_list %}
        <div class="table-string data-row">
            <div class="title-table table-item" style="min-width: 50px;">{{ key.id|safe }}</div>
            <div class="content-table table-item " style="min-width: 150px;">{{ key.city|safe }}</div>
            <div class="content-table table-item data-item">{{ key.street|safe }}</div>
            <div class="content-table table-item data-item">{{ key.home|safe }}</div>
            <div class="content-table table-item data-item">{{ key.entrance|safe }}</div>
            <div class="content-table table-item data-item">{{ key.ind|safe }}</div>
            <div class="content-table table-item data-item">{{ key.stand|safe }}</div>
        </div>
        {% endfor %}
        <div class="pagination">
            <div class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; В начало</a> |
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}
                <span class="current">
                    страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a> |
                    <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}