{% extends "index/base.html" %}
{% block content %}
<div class="grp-wrapper">
    <div class="main-table" style="display: grid; grid-template-columns: 1fr 300px; align-items: start;">
        <div class="data-section">
            <div class="main-table data-table">
                <div class="table-string header-row">
                    <div class="title-table table-item header-item" style="min-width: 100px;">ID</div>
                    <div class="title-table table-item header-item" style="min-width: 150px;">Город</div>
                    <div class="title-table table-item header-item" style="min-width: 150px;">Кластер</div>
                    <div class="title-table table-item header-item" style="min-width: 100px;">Улица</div>
                    <div class="title-table table-item header-item" style="min-width: 100px;">Номер</div>
                    <div class="title-table table-item header-item">IP АСКУЭ</div>
                </div>
                {% for inc in fttx_list %}
                <div class="table-string data-row">
                    <div class="content-table table-item data-item">{{ inc.id }}</div>
                    <div class="content-table table-item data-item">{{ inc.city|safe }}</div>
                    <div class="content-table table-item data-item">{{ inc.claster|safe }}</div>
                    <div class="content-table table-item data-item">{{ inc.street|safe }}</div>
                    <div class="content-table table-item data-item">
                        <a class="nav-link" href="{% url 'fttx-detail' inc.id %}">{{ inc.number|safe }}</a>
                    </div>
                    <div class="content-table table-item data-item">{{ inc.askue }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
                <div class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; В начало</a> |
                        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
                    {% endif %}
                    <span class="current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Следующая страница</a> |
                        <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="nav-section">
            <div class="main-table">
                <div class="table-string header-row">
                    <div class="title-table table-item header-item">Гомель</div>
                </div>
                <div class="table-string nav-row">
                    <div class="title-table table-item nav-item">
                    <div class="title-table table-item nav-item" style="min-width: 100px;">
                        <a class="nav-link" href="{% url 'fttx-claster16-list' %}">МКН-16</a>
                    </div>
                    <div class="title-table table-item nav-item" style="min-width: 100px;">
                        <a class="nav-link" href="{% url 'fttx-claster17-list' %}">МКН-17</a>
                    </div>
                    <div class="title-table table-item nav-item" style="min-width: 100px;">
                        <a class="nav-link" href="{% url 'fttx-claster19-list' %}">МКН-19</a>
                    </div>
                    <div class="title-table table-item nav-item" style="min-width: 100px;">
                        <a class="nav-link" href="{% url 'fttx-claster-aerodrom-list' %}">Аэродром</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}